@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
	
}


<style>	.loginlabelpadding {
	padding: 0px 10px 10px 10px;
	
	}


</style>
<h2> Login</h2>

/@* Html/Razor code to sent data aka the front end portion of the code*@/
<div>
	<form method="post" asp-action="OnPost">
		<div asp-validation-summary="All"></div>

		<div>
			<label asp-for="Email" class="loginlabelpadding"></label> 
			<input asp-for="Email"/>
			<span asp-validation-for="Email"></span>
		</div>


		<div>
			<label asp-for="Password" class="loginlabelpadding"></label> 
			<input asp-for="Password" />
			
			<div><input type="submit" value="Log In" /></div>
		</div>

	</form>
</div>