@model ReportHourModel

@{
	ViewData["Title"] = "Report Hour";

}

@if (Model.InvalidHour) {
	<p> Please enter a positive, whole number. Max hours input is 300.</p>
}

<form method="post" asp-action="ReportHour" asp-controller="Home">
	<text>Enter the number of Hours</text>
	<input asp-for="StoreHour" />


	

	<input type="submit" value="submit" />
</form>