@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_ContractorLayout.cshtml";
}

<h2>Welcome</h2>

<h2>@ViewData["Info"]</h2>

<p>This website is for the purpose of adding your hours.</p>
<p>Click on the "Report Hours" tab to fill out your hours that you worked then click "Submit" when your finished.</p>
<p>You can only fill out your hours once for the current month. If they need to be changed contact an administrator.</p>
<p>Thanks</p>
