@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<form method="post" asp-action="sentEmail" asp-controller="Email">

    <h2>Enter email</h2>
    <textarea class="form-control"
              id="emailHeader"
              name="emailHeader"
              rows="1"
              cols="15">Enter topic of email</textarea>


    <textarea class="form-control"
              id="emailBody"
              name="emailBody"
              rows="5"
              cols="15">Enter body of email</textarea>

    <input type="submit" value="send" name="emailSend" />
</form>
