@model CMPT395Project.Models.EmployeeHour

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EmployeeHour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimeSheetId" />
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class="form-control" asp-items="ViewBag.ContractId"></select>
                <span asp-validation-for="ContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMonth" class="control-label"></label>
                <input asp-for="CurrentMonth" class="form-control" />
                <span asp-validation-for="CurrentMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousMonth" class="control-label"></label>
                <input asp-for="PreviousMonth" class="form-control" />
                <span asp-validation-for="PreviousMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
